body {
	font: 85%/1.3 Arial;
    background: #1564b2;
    padding-bottom: 20px;
}

html,body {
    margin: 0;
    padding: 15px;
}

.outerContainer {
    margin: 0 auto 20px;
    width: 860px;
    border: 0px solid #fff;
	background: #fff;
	padding: 20px;
	border-radius:25px;
	-moz-border-radius:25px;
}

#placeHolderDiv {
	height: 230px;
}

#loginSectionError {
	color: #f00;
}

/*make the tiel and buttons stay on the same line*/
.buttons {
    float: right;
	width: 130px;
	text-align: right;
}

/*make the account and logout buttons stay on the same line*/
.logout {
	float: right;
}

/*Helpers*/
.hidden {
	display: none;
}